<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMISSION PROCEDURE</title>
</head>
<body>
    <h4>ADMISSION PROCEDURE</h4>
    <ul type="disc">
        <li>Applications for UG and PG courses are invited through online</li>
        <li>Students can apply for the courses one by one according to their course preference.</li>
        <li> Late Application will be considered only after those received on time</li>
        <li>Applications with insufficient or incomplete particulars or illegibly written will not be considered</li>
        <li>The Name and Initial of the Applicant should match with Transfer Certificate Issued by School or College</li>
        <li>The upper age limit for admission to UG courses will be 21 years as on 1st July 2021. However, a relaxation of 5 years is permitted for differently abled 
        SC/ST/BC/MBC/DNC candidates and women candidates may be allowed the age relaxation of 3 years beyond 21 years for the admission into UG courses.</li>
        <li>All admissions made are PROVISIONAL and subject to the approval of the Bharathiar University. The College has the right to cancel the admission on a later date, if 
        any of the documents submitted is found false or the qualification of the candidate admitted is not approved by the Bharathiar University.</li>
        <li>   Admission will be made on the basis of marks and reservation quota prescribed by the Government</li>
        <li>The admission shall be made purely on the basis of merit subject to the reservation rules of the Government of Tamilnadu, i.e. 18% for Scheduled Castes (SC) 
        (3% of the Seats offered to Arunthathiyar within the seat reserved for SC), 1% for Scheduled Tribes (ST), 20% for Most Backward Classes and Denotified Communities (MBC/DNC), 30% for Backward Classes (BC) within this 3.5% for Muslims, and 31% for Open Competition</li>
        <li>  Out of the quota of 19% (18% SC and 1% ST) reserved for SC & ST, 5 seats out of every 100 seats shall be reserved for Physically Challenged persons belonging to SC & ST</li>
        <li>Out of the quota of 50% (30% BC and 20% MBC/DNC) reserved for Backward Classes, Most Backward Classes & Denotified Communities, 5 seats out of every 100  
        seats shall be reserved for Physically Challenged persons belonging to BC, MBC & DNC</li>
        <li>Out of the quota of 31% intended for Open Competition, 5 seats out of every 100 seats shall be reserved for Physically Challenged persons in general </li>
        <li>6 seats in UG Courses and 3 seats in PG courses shall be reserved for the Children of Ex-Serviceman of Tamilnadu Origin</li>
        <li>3% of seats in UG Courses and 2% of seats in PG Courses reserved for Sports</li>
        <li> One seat in UG for NCC 'A' certificate holder and One seat in PG for Outstanding Merit with 'C' certificate reserved for NCC cadet</li>
    <b>ADMISSION ELIGIBILITY FOR UG COURSES</b>
    <li>A pass in Higher Secondary Examination of Tamil Nadu or any other examination recognized as equivalent thereto.</li>
    <li>  The Cut off marks for admission to UG Courses shall be based on marks obtained in Part III Subjects.</li>
    </ol>
    <table border="1">
    <th colspan="2">Course</th>
    <th colspan="2">Eligibility</th>
    <tr>
        <td>B.A. Economics</td>
    </tr>
    <tr>
        <td>B.Sc. Mathematics</td>
    </tr>
    <tr>
        <td>B.Sc. Physics</td>
    </tr>
    <tr>
        <td>B.Sc. Chemistry</td>
    </tr>
    <tr>
        <td>B.Sc. Botany</td>
    </tr>
    <tr>
        <td>B.Sc. Computer Science</td>
    </tr>
    <tr>
        <td>B.Com.</td>
    </tr>
    <tr>
        <td>B.B.A</td>
    </tr>
       <th>Eligible Subjects</th>
    <tr>
        <td>Mathematics, Physics and Chemistry.</td>
    </tr>
    <tr>
            
            <td>Mathematics, Physics and Chemistry.</td>
    </tr>
    <tr>
            
            <td>Chemistry and Botany / Zoology / Biology.</td>
    </tr>
    <tr>
            
            <td>Chemistry and Botany / Zoology / Biology.</td>
    </tr>    
    <tr>
            
            <td>Computer Science / Biology, Mathematics, Physics, Chemistry.</td>
    </tr>
    <tr>
            
            <td>(2/3 seats for Computer Science students, 1/3 seats for Non-Computer Science Students).</td>
    </tr>
    <tr>
           <td> Commerce and Accountancy. 20% seats are reserved for Vocational students.</td>
    </tr>
    <tr>
            
           <td> Commerce and Accountancy. 20% seats are reserved for Vocational students.</td>
    </tr>
    </table>
    <b>ADMISSION ELIGIBILITY FOR PG COURSES</b>
    <table border="1">
    <th colspan="2">Course</th>
<tr>
    <td>
M.A. Economics

M.Sc. Mathematics

M.Com.
</td>
<th colspan="2">
Eligible Subjects
</th>
<tr>
    <td>
Any Degree with Economics / Econometrics / Mathematics / Statistics / Business Economics / B.Com. / B.B.M. / BBA.
    </td>
</tr>
<tr>
    <td>
B.Sc. Mathematics / B.Sc. Mathematics (CA).
</td>
</tr>
<tr>
    <td>
B.Com., / B.Com with any Specializations (Branch).
    </td>
</table>
</body>
</html>