<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
</head>
<body bgcolor="grey">
    <center>
        <div>
            <marquee dir="right">
        <h1 style="color: blueviolet;">ACADEMIC CALENDAR 2024-2025</h1>
            </marquee>
        <img src="{{ url_for('static', filename='images/June.jpeg') }}"> <br>
        <img src="{{ url_for('static', filename='images/July.jpeg') }}"> <br> 
        <img src="{{ url_for('static', filename='images/August.jpeg') }}"> <br>
        <img src="{{ url_for('static', filename='images/September.jpeg') }}"> <br>
        <img src="{{ url_for('static', filename='images/October.jpeg') }}"> <br>
        <img src="{{ url_for('static', filename='images/November.jpeg') }}"> <br>
        <img src="{{ url_for('static', filename='images/December.jpeg') }}"> <br>
        <img src="{{ url_for('static', filename='images/January.jpeg') }}"> <br>
         <img src="{{ url_for('static', filename='images/February.jpeg') }}"> <br>
         <img src="{{ url_for('static', filename='images/March.jpeg') }}"> <br> 
         <img src="{{ url_for('static', filename='images/April.jpeg') }}"> <br>
         <img src="{{ url_for('static', filename='images/May.jpeg') }}"> <br>
</div>
    </center>
</body>
</html>