<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees Structure</title>
</head>
<body bgcolor="yellow">
    <marquee dir="right">
    <h1 style="color:blue">FEES STRUCTURE</h1>
    <h2 style="color: chocolate;">Aided UG Courses</h2>
    </marquee>
    <h3 style="color: sienna;"><b>Undergraduate Courses</b></h3>
    <ol type="1">
        <h2 style="color: brown;">Arts,Humalities Streams</h2>
        <li>B.A.Tamil Literature</li>
        <li>B.A. English Literature</li>
        <li>B.A.Economics</li>
        <h2 style="color: aquamarine;">Science Streams</h2>
        <li>BSC Mathmatics</li>
        <li>BSC Chemistry</li>
        <li>BSC Physics</li>
        <li>BSC Botany</li>
        <li>BSC Computer Science</li>
        <h2 style="color: yellowgreen;">Arts Streams</h2>
        <li>B.Com</li>
        <h2 style="color: yellowgreen;">Management and Business Streams</h2>
        <li>BBA</li>
        <li>BCA</li>
    </ol>
    <h1 style="color: turquoise;">Aided PG Courses</h1>
    <h2 style="color: seagreen;"><b>Post Graduate Courses</b></h2>
    <ol type="i">
        <li>MBA</li>
        <li>MCA</li>
    </ol>
    <h1 style="color: teal;">Aided Research Courses</h1>
    <h2 style="color: red;"><b>Research Courses</b></h2>
  
    <ol type="i">
        <li>M.Phil</li>
        <li>PHD</li>
    </ol>
    <hr color="purple">
<marquee dir="left">
    <h1 style="color: chocolate;">Unided UG Courses </h1>
</marquee>
<h1 style="color: tomato;">Undergraduate Courses</h1>
    <ol type="1">
        <h2 style="color: brown;">Arts,Humalities Streams</h2>
        <li>B.A.Tamil Literature</li>
        <li>B.A. English Literature</li>
        <li>B.A.Economics</li>
        <h2 style="color: aquamarine;">Science Streams</h2>
        <li>BSC Mathmatics</li>
        <li>BSC Chemistry</li>
        <li>BSC Physics</li>
        <li>BSC Botany</li>
        <li>BSC Computer Science</li>
        <li>BSC AI & DS</li>
        <li>BSC Computer Technology</li>
        <li>BSC Information Technology</li>
        <li>Internet of Things</li>
        <h2 style="color: yellowgreen;">Arts Streams</h2>
        <li>B.Com</li>
        <li>B.Com(PA)</li>
        <li>B.Com(CA)</li>
        <li>B.Com(BI)</li>
        <h2 style="color: violet;">Management and Business Administration Streams</h2>
        <li>BBA</li>
        <li>BCA</li>
    </ol>
    <h5 style="color: turquoise;">Unided PG Courses</h5>
    <ol type="a">
        <li>MBA</li>
        <li>MCA</li>
    </ol>
    <h5 style="color: teal;">Aided Research Courses</h5>
    <ol type="A">
        <li>M.Phil</li>
        <li>PHD</li>
    </ol>
    <hr color="purple">
    <marquee>
        <h1 dir="right" style="color: springgreen;">FEES STRUCTURE</h1>
    <h1 style="color: slateblue;">AIDED COURSES DETAILS</h1>
    </marquee>
    <h2 style="color: steelblue;">Arts And Humalities Streams Fees Details</h2>
    <ul type="disc">
        <li>BA Tamil Literature=10,500</li>
        <li>BSC Computer Science=11,000</li>
        <li>B.A.Economics=12,000</li>
    </ul>
    <h2 style="color: aquamarine;">Science Streams</h2>
    <li>BSC Mathmatics=13,000</li>
    <li>BSC Chemistry=6,000</li>
    <li>BSC Physics=6,000</li>
    <li>BSC Botany=5,000</li>
    <li>BSC Computer Science=7,000</li>
    <h2 style="color: yellowgreen;">Arts Streams</h2>
    <li>B.Com=4,000</li>
    <h2 style="color: green;">Management and Business Streams</h2>
    <li>BBA=7,000</li>
    <li>BCA=5,000</li>
    <h5 style="color: turquoise;">Aided PG Courses</h5>
    <ol type="i">
        <li>MBA=7,500</li>
        <li>MCA=8,000</li>
    </ol>
    <h5 style="color: teal;">Aided Research Courses</h5>
    <ol type="i">
        <li>M.Phil=8,000</li>
        <li>PHD=8,500</li>
    </ol>
    <hr color="purple">

    <marquee dir="left">
        <h1 style="color: tomato;">UNAIDED COURSES DETAILS</h1>
    </marquee>
    <h2 style="color: blue;"><b>Undergraduate</b></h2>
    <h1 style="color: chocolate;">Unided UG Courses Unaided</h1>
    <ol type="1">
        <h2 style="color: brown;">Arts,Humalities Streams</h2>
        <li>B.A.Tamil Literature=11,500</li>
        <li>B.A. English Literature=12,000</li>
        <li>B.A.Economics=11,500</li>
        <h2 style="color: aquamarine;">Science Streams</h2>
        <li>BSC Mathmatics=13,000</li>
        <li>BSC Chemistry=8,000</li>
        <li>BSC Physics=9,000</li>
        <li>BSC Botany=10,000</li>
        <li>BSC Computer Science=12,000</li>
        <li>BSC AI & DS=14,000</li>
        <li>BSC Computer Technology=13,000</li>
        <li>BSC Information Technology=15,000</li>
        <li>Internet of Things=15,000</li>
        <h2 style="color: yellowgreen;">Arts Streams</h2>
        <li>B.Com=10,000</li>
        <li>B.Com(PA)=13,000</li>
        <li>B.Com(CA)=14,000</li>
        <li>B.Com(BI)=12,000</li>
        <h2 style="color: violet;">Management and Business Administration Streams</h2>
        <li>BBA=15,000</li>
        <li>BCA=18,000</li>
    </ol>
    <h2 style="color: turquoise;">Unided PG Courses</h2>
    <ol type="a">
        <li>MBA=18,000</li>
        <li>MCA=17,000</li>
    </ol>
    <h2 style="color: teal;">Unided Research Courses</h2>
    <ol type="A">
        <li>M.Phil=18,000</li>
        <li>PHD=18,000</li>
    </ol>

</body>
</html>